{% extends 'layout.html' %}

{% block content %}
	<h2> News </h2><br>
	<div>
		<h5>
		Interglobe Aviation share price slips over 3% on Citi downgrade. November 26, 2020 12:10 PM IST.
		</h5>
		Interglobe Aviation share price slips over 3% on Citi downgrade.
		The share touched its 52-week high Rs 1,743.80 and 52-week low Rs 765.05 on November 20, 2020 and March 24, 2020, respectively.
	</div><br>
		
	<div>
		<h5>
		Platforms share price hits new high after MIT, Vantage Equity Fund buy stakes. November 26, 2020 11:30 AM IST. 
		</h5>
		Tanla Platforms share price hits new high after MIT, Vantage Equity Fund buy stakes.
		MIT purchased 9.85 lakh shares, or 0.72 percent equity, of Tanla Platforms while Vantage Equity Fund bought 6.85 lakh shares or 0.5 percent equity, according to bulk data on the BSE.
	</div><br>
		
	<div>
		<h5>
		Operating profit of these 7 companies grew at least 15% in FY20; FIIs, MFs also bet on them. November 26, 2020 11:22 AM IST.
		</h5>
		Operating profit of these 7 companies grew at least 15% in FY20; FIIs, MFs also bet on them.
		In FY21 so far, all of them have been trading in the green and have gained between 20 percent and 190 percent
	</div><br>

	<div>
		<h5>
		NSE, BSE suspends trading in Lakshmi Vilas Bank; govt to merge it with DBS Bank. November 26, 2020 11:17 AM IST.
		</h5>
		NSE, BSE suspends trading in Lakshmi Vilas Bank; govt to merge it with DBS Bank.
		All the branches of the Lakshmi Vilas Bank will function as branches of DBS Bank India from November 27.
	</div><br>
		
	<div>
		<h5>
		DHFL shares locked at upper circuit for 8 days in a row; company trims losses in Q2. November 26, 2020 10:35 AM IST.
		</h5>
		DHFL shares locked at upper circuit for 8 days in a row; company trims losses in Q2.
		The stock has risen about 53 percent in the last eight trading sessions.
	</div><br>

	<div> 
		<h5>
		Organics shares jump 4% on plans to set up multipurpose plant in Dahej. November 26, 2020 10:11 AM IST.
		</h5>
		Meghmani Organics shares jump 4% on plans to set up multipurpose plant in Dahej.
		The company also commenced commercial production at two of its plants situated at Bharuch.
	</div><br>
		
	<div> 
		<h5>
		Adani Green share price falls 3% after Vistra ITCL offloads 3.35 crore shares. November 26, 2020 09:59 AM IST.
		</h5>
		Adani Green share price falls 3% after Vistra ITCL offloads 3.35 crore shares.
		The stock has shed over 8 percent in the last two days and hit lower circuit of Rs 1087.55 on BSE.
	</div><br>	

	<div>
		<h5>
		Siemens share price rises 6% despite Jefferies' underperform rating. November 26, 2020 09:46 AM IST.
		</h5>
		Siemens share price rises 6% despite Jefferies' underperform rating.
		The share touched its 52-week high Rs 1,640 and 52-week low Rs 947 on 27 January, 2020 and 23 March, 2020, respectively.</p>
	</div>
{% endblock content %}