{% extends 'layout.html' %}

{% block content %}
<div class="container">
	<h2> Google </h2><br>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Stock Perception </span> - Bullish </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Category </span> - Technology </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Predicted Profitability </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Intrinsic Value </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Current Price </span> - 1806 USD </div><br>
	<div style="margin-left: 227px; margin-bottom: 10px;
				font-family: Verdana; font-size: large;"> Predicted Trend (95% Accuracy) </div>
	<img src="../static/prediction_graphs/google.png" alt="Google Stock Predicted Trend" 
	     style="margin-left: 110px; border: 3px solid #17a2b8;">
</div>
<br>
<br>
<br>
<div class="container">
	<h2> Apple </h2><br>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Stock Perception </span> - Bullish </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Category </span> - Technology </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Predicted Profitability </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Intrinsic Value </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Current Price </span> - 121.78 USD </div><br>
	<div style="margin-left: 227px; margin-bottom: 10px;
				font-family: Verdana; font-size: large;"> Predicted Trend (95% Accuracy) </div>
	<img src="../static/prediction_graphs/apple.png" alt="Apple Stock Predicted Trend" 
	     style="margin-left: 110px; border: 3px solid #17a2b8;">
</div>
<br>
<br>
<br>
<div class="container">
	<h2> Microsoft </h2><br>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Stock Perception </span> - Bullish </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Category </span> - Technology </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Predicted Profitability </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Intrinsic Value </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Current Price </span> - 211.80 USD </div><br>
	<div style="margin-left: 227px; margin-bottom: 10px;
				font-family: Verdana; font-size: large;"> Predicted Trend (90% Accuracy) </div>
	<img src="../static/prediction_graphs/microsoft.png" alt="Microsoft Stock Predicted Trend" 
	     style="margin-left: 110px; border: 3px solid #17a2b8;">
</div>
<br>
<br>
<br>
<div class="container">
	<h2> Facebook </h2><br>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Stock Perception </span> - Bullish </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Category </span> - Technology </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Predicted Profitability </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Intrinsic Value </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Current Price </span> - 277.92 USD </div><br>
	<div style="margin-left: 227px; margin-bottom: 10px;
				font-family: Verdana; font-size: large;"> Predicted Trend (95% Accuracy) </div>
	<img src="../static/prediction_graphs/facebook.png" alt="Facebook Stock Predicted Trend" 
	     style="margin-left: 110px; border: 3px solid #17a2b8;">
</div>
<br>
<br>
<br>
<div class="container">
	<h2> Tesla </h2><br>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Stock Perception </span> - Bullish </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Category </span> - Automobile </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Predicted Profitability </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Intrinsic Value </span> - 10/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Current Price </span> - 604.48 USD </div><br>
	<div style="margin-left: 227px; margin-bottom: 10px;
				font-family: Verdana; font-size: large;"> Predicted Trend (98% Accuracy) </div>
	<img src="../static/prediction_graphs/tesla.png" alt="Tesla Stock Predicted Trend" 
	     style="margin-left: 110px; border: 3px solid #17a2b8;">
</div>
<br>
<br>
<br>
<div class="container">
	<h2> Tata </h2><br>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Stock Perception </span> - Bullish </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Category </span> - Automobile </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Predicted Profitability </span> - 8/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Intrinsic Value </span> - 8/10 </div>
	<div style="font-size: large;"> <span style="font-weight: 600; font-style: italic;"> Current Price </span> - 182.85 Rs. </div><br>
	<div style="margin-left: 227px; margin-bottom: 10px;
				font-family: Verdana; font-size: large;"> Predicted Trend (90% Accuracy) </div>
	<img src="../static/prediction_graphs/tata.png" alt="Tata Stock Predicted Trend" 
	     style="margin-left: 110px; border: 3px solid #17a2b8;">
</div>
<br>
<br>
<br>
{% endblock content %}